*.class
*.*~

# Package Files #
*.jar
*.war
*.ear

seg/GPSTestThing/bin/

*.suo

seg/TestServer/TestServer/bin
seg/TestServer/TestServer/obj
seg/TestServer/TestServer/*.user
seg/TestServer/TestServer/config.ini

seg/documents/requirements/*.log
seg/documents/requirements/*.aux
seg/documents/requirements/*.out
seg/documents/requirements/*.toc
seg/Application/.Settings.java.swp
seg/Application/build.bat
*Thumbs.db
