*.class
*.*~

# Package Files #
*.jar
*.war
*.ear

seg/GPSTestThing/bin/

*.suo

seg/TestServer/TestServer/bin
seg/TestServer/TestServer/obj
seg/TestServer/TestServer/*.user
seg/TestServer/TestServer/config.ini

seg/documents/requirements/hardwaresoftware/*.log
seg/documents/requirements/hardwaresoftware/*.aux
seg/documents/requirements/hardwaresoftware/*.pdf
seg/documents/requirements/hardwaresoftware/*.out
