*.class
*.*~

# Package Files #
*.jar
*.war
*.ear

seg/GPSTestThing/bin/

*.suo
*.exe
*.pdb
*.exe.manifest
*.config
*.db

seg/TestServer/bin
seg/TestServer/obj
seg/TestServer/*.user
seg/TestServer/config.ini

seg/documents/requirements/*.log
seg/documents/requirements/*.aux
seg/documents/requirements/*.out
seg/documents/requirements/*.toc

seg/GPSTestThing/bin
seg/GPSTestThing/gen

seg/Application/.Settings.java.swp
seg/Application/build.bat
seg/Application/bin
seg/Application/gen
